@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["NameHomePage"];
    var link = "https://docs.microsoft.com/aspnet/core";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <p>@Localizer["Learn about", link, Localizer["link text"]]</p>
</div>
