@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model EventsViewModel

@{ ViewData["Title"] = Localizer["Events"]; }

<div class="container">
    <div class="row">
        <div class="col-3">
            <div>
                <div id="error" class="alert alert-danger" style="display:none;"></div>
                <div>
                    <input id="autocomplete" class="form-control" placeholder="Search">
                    <div>
                        <h2>Filter</h2>
                    </div>
                    <label asp-for="Categories">Category:</label>
                    <select id="categories" name="categories" multiple class="selectpicker">
                        <option></option>
                    </select>
                </div>
                <div>
                    <label asp-for="Cities">City:</label>
                    <select id="cities" name="cities" multiple class="selectpicker">
                        <option></option>
                    </select>
                </div>
                <div>
                    <label asp-for="Venues">Venue:</label>
                    <select id="venues" name="venues" multiple class="selectpicker">
                        <option disabled selected>Choose venue</option>
                    </select>
                </div>
                <div>
                    <label asp-for="FromDateTime">From date:</label>
                    @Html.TextBoxFor(e => e.FromDateTime, new { type = "date", id = "fromDateTime", @class = "form-control d-inline" })
                </div>
                <div>
                    <label asp-for="ToDateTime">To date:</label>
                    @Html.TextBoxFor(e => e.FromDateTime, new { type = "date", id = "toDateTime", @class = "form-control d-inline" })
                </div>
                <div>
                    <label class="control-label">Sort:</label>
                    @Html.DropDownList("sortOrder", Model.SortOrder, new { id = "sortOrder", @class = "form-control" })
                </div>
                <div>
                    <label class="control-label">Sort:</label>
                    @Html.DropDownList("sortBy", Model.SortBy, new { id = "sortBy", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-9">
            <div id="events" class="row row-cols-3"></div>
            <nav>
                <ul class="pagination justify-content-center"></ul>
            </nav>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="dist/event.entry.js" type="module" defer></script>
    <script src="dist/venue.entry.js" type="module" defer></script>
    <script src="dist/category.entry.js" type="module" defer></script>
    <script src="dist/city.entry.js" type="module" defer></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}