@model UserViewModel
@{
    ViewData["Title"] = $"User Info ";
}

<h2>User information</h2>

<div class="container">
    <div class="row">
        @foreach (var user in Model.Users)
        {
            <div class="text-left">
                <div><strong>First name: </strong>@user.FirstName</div>
                <div><strong>Last name: </strong>@user.LastName</div>
                <div><strong>Address: </strong>@user.Address</div>
                <div><strong>Phone number: +</strong>@user.PhoneNumber</div>
            </div>
        }
    </div>
</div>

