@model IEnumerable<TicketReSail.DAL.Model.User>

<h2>List Users</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-controller="Roles" asp-action="EditRole" asp-route-userid="@user.Id">Change role</a>
            </td>
        </tr>
    }
</table>